<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Title Template{% endblock %}</title>
    <meta name="description" content="Kamus, Tesaurus dan Glosarium bahasa Indonesia."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('bundles/kateglodefault/images/favicon.ico') }}"/>
    <link rel="icon" type="image/png" href="{{ asset('bundles/kateglodefault/images/favicon.png') }}"/>
    {% block stylesheets %}
        {% stylesheets
        '@KategloDefaultBundle/Resources/public/css/vendor/font.css'
        '@KategloDefaultBundle/Resources/public/css/vendor/bootstrap.min.css'
        '@KategloDefaultBundle/Resources/public/css/vendor/bootstrap-responsive.min.css'
        '@KategloDefaultBundle/Resources/public/css/main.css' output='bundles/kateglodefault/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all"/>
        {% endstylesheets %}
    {% endblock %}
    {% block headscripts %}
        {% javascripts
        '@KategloDefaultBundle/Resources/public/js/vendor/html5.js'
        '@KategloDefaultBundle/Resources/public/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' output='bundles/kateglodefault/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->

{% block header %}
    {{ include('::baseHeader.html.twig') }}
{% endblock %}
{% block body %}
    <div class="wrap">
        <!-- Content -->
        <div class="container" id="wrap-container">
            {% block content %}{% endblock %}
        </div>
        <div class="push"></div>
    </div>
{% endblock %}
{% block footer %}
    {{ include('::baseFooter.html.twig') }}
{% endblock %}
{% block footscripts %}
    {% javascripts
    '@KategloDefaultBundle/Resources/public/js/vendor/jquery-1.9.0.min.js'
    '@KategloDefaultBundle/Resources/public/js/vendor/bootstrap.min.js'
    '@KategloDefaultBundle/Resources/public/js/plugins.js'
    '@KategloDefaultBundle/Resources/public/js/main.js' output='bundles/kateglodefault/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        var _gaq = [
            ['_setAccount', 'UA-XXXXX-X'],
            ['_trackPageview']
        ];
        (function (d, t) {
            var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
            g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g, s)
        }(document, 'script'));
    </script>
{% endblock %}
</body>
</html>
