{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="span12 center">
            <div id="home-container">
                <h1 class="logo">Kateglo</h1>

                <form name="{{ form.search.name }}" class="form-search" action="{{ form.search.action }}"
                      method="{{ form.search.method }}">
                    <div class="input-append">
                        <input type="{{ form.search.field.0.type }}" name="{{ form.search.field.0.name }}"
                               class="input-xxlarge search-query"
                               placeholder="Masukkan kata, peribahasa atau singkatan...">
                        <button type="submit" class="btn">Telusuri</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
