{% block form_row %}
    {% spaceless %}
        <div class="control-group{% if errors|length > 0 %} error{% endif %}">
            <div class="controls">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} class="input-xlarge" autocomplete="off"
               placeholder="{% if label is not sameas(false) %}{{ label|trans({}, translation_domain) }}{% endif %}" {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock form_widget_simple %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <span class="help-inline">
            {% for error in errors %}
                {{ error.message }}
            {% endfor %}
        </span>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}